<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>tar -zxvf $WORKSPACE/../helloworld-build-job/jsp-servlet-example/jsp-servlet-example.tar.gz</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.deploy.DeployPublisher plugin="deploy@1.13">
      <adapters>
        <hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
          <credentialsId>d1cc1a1d-42e3-4a0d-a6da-6da294a4cfc4</credentialsId>
          <url>http://172.20.0.4:8080/</url>
        </hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
        <hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
          <credentialsId>d1cc1a1d-42e3-4a0d-a6da-6da294a4cfc4</credentialsId>
          <url>http://tom-b:8080/</url>
        </hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
        <hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
          <credentialsId>d1cc1a1d-42e3-4a0d-a6da-6da294a4cfc4</credentialsId>
          <url>http://tom-c:8080/</url>
        </hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
      </adapters>
      <contextPath>/jsp-servlet-example</contextPath>
      <war>./jsp-servlet-example.war</war>
      <onFailure>false</onFailure>
    </hudson.plugins.deploy.DeployPublisher>
  </publishers>
  <buildWrappers/>
</project>