<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>helloworld-build-job, </upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>tar -zxvf $WORKSPACE/../helloworld-build-job/jsp-servlet-example/jsp-servlet-example.tar.gz
ls -la  $WORKSPACE</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.deploy.DeployPublisher plugin="deploy@1.13">
      <adapters>
        <hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
          <credentialsId>0232b632-f023-4fbd-84e5-d8065347a589</credentialsId>
          <url>http://tom-a:8080/</url>
        </hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
        <hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
          <credentialsId>0232b632-f023-4fbd-84e5-d8065347a589</credentialsId>
          <url>http://tom-b:8080/</url>
        </hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
        <hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
          <credentialsId>0232b632-f023-4fbd-84e5-d8065347a589</credentialsId>
          <url>http://tom-c:8080/</url>
        </hudson.plugins.deploy.tomcat.Tomcat8xAdapter>
      </adapters>
      <contextPath>jsp-servlet-example</contextPath>
      <war>$WORKSPACE/jsp-servlet-example.war</war>
      <onFailure>false</onFailure>
    </hudson.plugins.deploy.DeployPublisher>
  </publishers>
  <buildWrappers/>
</project>