<?xml version="1.0" encoding="UTF-8"?><project>
    <actions/>
    <description/>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <org.biouno.unochoice.ChoiceParameter>
                    <name>BUILDS_TRIGGER</name>
                    <description>Select the jobs</description>
                    <randomName>choice-parameter-2098465443210</randomName>
                    <visibleItemCount>1</visibleItemCount>
                    <script class="org.biouno.unochoice.model.GroovyScript">
                        <script>['MNTLAB-hsakovich-child1-build-job', 'MNTLAB-hsakovich-child2-build-job', 'MNTLAB-hsakovich-child3-build-job', 'MNTLAB-hsakovich-child4-build-job']</script>
                        <fallbackScript>"fallback choice"</fallbackScript>
                    </script>
                    <filterable>false</filterable>
                    <choiceType>PT_CHECKBOX</choiceType>
                </org.biouno.unochoice.ChoiceParameter>
                <hudson.model.ChoiceParameterDefinition>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>hsakovich</string>
                            <string>master</string>
                        </a>
                    </choices>
                    <name>BRANCH_NAME</name>
                    <description>Select target branch</description>
                </hudson.model.ChoiceParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders/>
    <publishers/>
    <buildWrappers/>
</project>