<?xml version="1.0" encoding="UTF-8"?><project>
    <actions/>
    <description/>
    <keepDependencies>false</keepDependencies>
    <properties>
        <com.coravy.hudson.plugins.github.GithubProjectProperty>
            <projectUrl>https://github.com/MNT-Lab/d323dsl/</projectUrl>
        </com.coravy.hudson.plugins.github.GithubProjectProperty>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.ChoiceParameterDefinition>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>aandryieuski</string>
                            <string>aaranski</string>
                            <string>akavaleu</string>
                            <string>apatapniou</string>
                            <string>disakau</string>
                            <string>dzhukova</string>
                            <string>hviniarski</string>
                            <string>knovichuk</string>
                            <string>master</string>
                            <string>mpiatliou</string>
                            <string>mznak</string>
                            <string>omonko</string>
                            <string>stsitou</string>
                            <string>ukuchynski</string>
                            <string>ymaniukevich</string>
                            <string>ypapkou</string>
                            <string>ysokal</string>
                        </a>
                    </choices>
                    <name>BRANCH_NAME</name>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.ChoiceParameterDefinition>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>MNTLAB-hsakovich-child1-build-job</string>
                            <string>MNTLAB-hsakovich-child2-build-job</string>
                            <string>MNTLAB-hsakovich-child3-build-job</string>
                            <string>MNTLAB-hsakovich-child4-build-job</string>
                        </a>
                    </choices>
                    <name>BUILDS_TRIGGER</name>
                </hudson.model.ChoiceParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders/>
    <publishers/>
    <buildWrappers/>
    <scm class="hudson.plugins.git.GitSCM">
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>https://github.com/MNT-Lab/d323dsl.git</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <configVersion>2</configVersion>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <gitTool>Default</gitTool>
        <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.com/MNT-Lab/d323dsl/</url>
        </browser>
    </scm>
</project>